language: python
cache: pip
addons:
  postgresql: '9.6'
python:
- 2.7
- 3.5
- 3.6
env:
  matrix:
  - ODOO="8.0"
  - ODOO="9.0"
  - ODOO="10.0"
  - ODOO="11.0"
  - ODOO="12.0"
  - ODOO="master"
matrix:
  exclude:
  - env: ODOO="8.0"
    python: 3.5
  - env: ODOO="8.0"
    python: 3.6
  - env: ODOO="9.0"
    python: 3.5
  - env: ODOO="9.0"
    python: 3.6
  - env: ODOO="10.0"
    python: 3.5
  - env: ODOO="10.0"
    python: 3.6
  - env: ODOO="11.0"
    python: 2.7
  - env: ODOO="12.0"
    python: 2.7
  - env: ODOO="master"
    python: 2.7
install:
  - pip install tox-travis
  - pip install codecov
script:
  - tox
after_success:
  - codecov
