language: python

cache: pip

addons:
  postgresql: "9.6"

stages:
  - name: test
  - name: deploy
    if: tag IS present

jobs:
  include:
    - stage: test
      python: 2.7
      env: ODOO="8.0"
    - stage: test
      python: 2.7
      env: ODOO="9.0"
    - stage: test
      python: 2.7
      env: ODOO="10.0"
    - stage: test
      python: 3.5
      env: ODOO="11.0"
    - stage: test
      python: 3.6
      env: ODOO="11.0"
    - stage: test
      python: 3.5
      env: ODOO="12.0"
    - stage: test
      python: 3.6
      env: ODOO="12.0"
    - stage: test
      python: 3.5
      env: ODOO="master"
    - stage: test
      python: 3.6
      env: ODOO="master"
    - stage: deploy
      script: echo "Deploy to PyPi"
      deploy:
        provider: pypi
        user: {{ PYPIUSER }}
        password:
          secure: "{{ PYPITOKEN }}"
        distributions: "sdist bdist_wheel"
        skip_upload_docs: true
        on:
          repo: {{ GITHUBORG }}/click-odoo-{{ PROJECT }}
          branch: master
          tags: true
 
install:
  - pip install tox-travis
  - pip install codecov

script:
  - tox

after_success:
  - codecov
